# Install Directory

INSTALL_PATH=/app/dynDNS

# DNS entries
DNS_1=hostname.domain.party
CLOUD_PROVIDER_1=gc
PROJECT_1=precarious-horoughbred-169420
ZONE_1=domain-party

# Example second entry
# DNS_2=another.domain.party
# CLOUD_PROVIDER_2=aws
# PROJECT_2=
# ZONE_2=
